html {
  height: 100%;
  font-family: "Montserrat";

  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-headings: #0077ff;
  --color-text: #333333;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  background-color: var(--bg);
}

.default-container {
  text-align: center;
  margin: 1vh auto;
  max-width: 400px;
  min-width: 320px;
  padding: 2vh 2vw;
  background-color: var(--bg-panel);
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--color-headings);
}

.theme-switch-container {
  display: flex;
}

.theme-switch-container span {
  margin-right: 8px;
}

.content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.input {
  display: flex;
}

#input {
  margin-left: 8px;
  flex-grow: 1;
  border-radius: 4px;
  padding: 0 2px;
}

.result > span {
  color: var(--color-headings);
  font-size: 2rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

#submit-button {
  margin-top: 1vh;
  background-color: var(--color-headings);
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  padding: 1vh;
}

#submit-button:hover {
  background-color: var(--color-headings);
}

.information {
  margin-bottom: 30px;
}

.information p {
  text-align: justify;
  color: var(--color-text);
}

.information p:not(:first-child) {
  margin-top: 1vh;
}

footer {
  background-color: var(--color-headings);
  color: var(--color-text);
  padding: 1% 0;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.links {
  margin-left: 8px;
}

.links a {
  text-decoration: none;
  color: var(--color-text);
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#label-switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 28px;
  height: 15px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--color-headings);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}
